.modalContainer {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
}

.modalContainer.close {
  display: none;
}

.modal {
  background-color: #000000;
  z-index: 4;
  height: 70vh;
  width: 70vw;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding: 3%;
  color: white;
}

.modalHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 80%;
  padding-bottom: 5%;
}

.modalClose {
  font-size: 2rem;
  font-weight: 400;
  color: #d9d9d9;
  justify-self: start;
  cursor: pointer;
}

.modalLogo {
  justify-self: start;
  height: 2rem;
  font-weight: 400;
  color: #d9d9d9;
}

.modal.close {
  display: none;
}

.modalOverlay {
  background-color: hsl(206, 18%, 17%, 0.5);
  position: absolute;
  inset: 0;
}

.modalContent {
  width: 80%;
  height: 95%;
}

.modalContent.close {
  display: none;
}

@media screen and (max-width: 720px) {
  .modal {
    height: 100vh;
    width: 100vw;
    padding: 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modalContent {
    /* padding: 5% 10%; */
    height: 80%;
    width: 80%;
    /* display: none; */
  }
  .modalOverlay {
    display: none;
  }
}
